<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/nav %>
            <style>
                .sidenav {
                    background-color: #2b2b2b;
                    height: 100%;
                    color: white;
                    padding: 15px;
                }
                th {
                    background-color: #2b2b2b;
                }
                table.table-striped > thead > tr > th {
                    border-top:1px solid #2b2b2b;
                    border-bottom:1px solid #2b2b2b;
                }
                table.table-striped > tbody > tr > td{
                    border-top:1px solid #2b2b2b;
                    border-bottom:1px solid #2b2b2b;
                }
            </style>
        </header>
        <div class="container">
            <h2>Commands</h2>
            <div class="row content">
                <div class="col-sm-2 sidenav border-right rounded">
                    <nav class="nav nav-pills flex-column">
                        <% var commandCats = Object.keys(command_list); %>
                        <% for(var i=0; i < commandCats.length; i++) { %>
                            <a href="#<%= commandCats[i].split(' ').join('').toLowerCase() %>" class="nav-link<% if(i===0) { %> active<% } %>" data-toggle="pill" role="tab">
                                <%= commandCats[i] %>
                            </a>
                        <% } %>
                    </nav>

                </div>

                <div class="col-sm-9">
                    <div class="tab-content">
                        
                        <% for(var i=0; i < commandCats.length; i++) { %>
                            <div class="tab-pane<% if(i===0) { %> active<% } %>" id="<%= commandCats[i].split(' ').join('').toLowerCase() %>" role="tabpanel">
                                <table class="table table-striped table-sm">
                                    <thead>
                                        <tr><th>Command</th><th>Description</th><th>Usage</th></tr>
                                    </thead>
                                    <tbody>

                                        <% command_list[commandCats[i]].forEach(command => { %>
                                            <tr>
                                                <td><strong><%= command.help.name %></strong></td>
                                                <td><%= command.help.description %></td>
                                                <td><%= command.help.usage %></td>
                                            </tr>
                                        <% }); %>
                                        
                                    </tbody>
                                </table>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <script>
$(function () {
    $('#myTab a:last').tab('show')
})
        </script>

        <hr>

        <footer>
            <% include ../partials/footer %>
        </footer>

        <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>
</html>

