<%- include('blocks/header', {bot, user, path}) %>
<h1 class="display-3">Dashboard</h1>
<ul class="list-unstyled">
  <% user.guilds.forEach(guild => {
    const permsOnGuild = new perms(guild.permissions);
    if(!permsOnGuild.has("MANAGE_GUILD")) return;
  %>
  <li class="media" style="padding: 10px;">
    <% if (guild.icon) { %>
      <img class="d-flex mr-3 rounded-circle" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>" style="width: 80px;" alt="">
    <% } else { %>
      <img class="rounded-circle" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>" style="width: 80px;" alt="">
    <% } %>
    <div class="media-body">
        <h5 class="mt-0 mb-1"><%= guild.name %></h5>
        <%
        let href, text;
        let enabled;
        if(bot.guilds.get(guild.id)) {
          href = `/dashboard/${guild.id}/manage`;
          text = "Manage";
          enabled = true;
        } else {
          href = `https://discordapp.com/oauth2/authorize?client_id=${bot.appInfo.id}&scope=bot&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(bot.config.dashboard.callbackURL)}`;
          text = "Invite Bot";
          enabled = bot.appInfo.botPublic;
        }
        %>
        <a class="btn btn-primary btn-lg<% if(!enabled) { %> disabled<% } %>" role="button" href="<%= href %>"><%= text %> <i class="fa fa-fw fa-chevron-circle-right" aria-hidden="true"></i></a>
      </div>
    </li>
  <% }); %>
  </ul>

  <% include ./blocks/footer %>
